body {
    margin: 0;
    padding: 0;
}

header {
    background-color:cadetblue;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: #756161;
}

li {
    list-style: none;
}

.modalPessoas {
    background-color:cadetblue;
    width: 200px;
    display: flex;
    border: 1px solid #888;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.modalCasamentos {
    background-color:cadetblue;
    width: 200px;
    display: flex;
    border: 1px solid #888;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.main {
    width: 100%;
    background-color: #756161;
}